
.login{
   display: flex;
    justify-content: center;
}
.loginForm{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    background-color: orangered;
    max-width: 600px;
    align-content: center;
   align-self: center;
    margin-top: 100px;


}

.mainCont{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap:40px

}


.inputField{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;


}
.input ::placeHolder{
    width: 70px;
    height: 30px;
    padding-left: 30px;
    border: 1px solid;

}
.mainCont button{
    width: 320px;
    height: 40px;
    border-radius: 10px;
    background-color: orangered;
    border: none;

}

.error{
    border: 1px solid red;
}


