.hero{
height: 80vh;
    padding-top: 100px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}
.imageHolder{
    justify-content: center;
}
.theImage{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


