.faTimes{
    color:black;
    margin-top: 30px;
    width: 25px;
    height: 25px;
}

.faBars{
    color: black;
    margin-top: 30px;
    width: 25px;
    height: 25px;
}

.menu {
    position: absolute;
    top: 50px;

    z-index: 1;
    width: 30%;
    height: 200vh;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Change from translateX(-100%) to translateX(100%) */
}

.menu.active {
    transform: translateX(0);
}

.menu p {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

.menu p:hover {
    background-color: #f5f5f5;
}
