

.navBar{
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding-bottom: 10px;



}
.navBar img{
    height: 40px;
    width: 40px;
    margin-top: 15px;

}
.myBooks{
    font-family: SF Pro Icons, serif;
    font-size: 20px;
    color: black;
}

.books{
    display: flex;
    flex-direction: row;
    gap :35px;
    margin-top: 10px;

}

.signUpAndLogin{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 25px;
}
.btn{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-family: lato, serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: #f6f1f1;
    color: black;
}



